.checkbox {
  box-shadow: .25em .25em 0 #000;

  &:hover:not(:disabled) {
    box-shadow: .35em .35em 0 #000;
  }
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;

  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.hidden {
  display: none;
}
