.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  flex: 2;
  padding-right: 1rem;
}

.checkbox {
  flex: 3;
  display: flex;
  padding-left: 2rem;
}

.rowLine {
  flex: 3;
  border-bottom: 1px solid black;
}
