# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/


# Service account, downloadable from https://console.firebase.google.com
#   -> Project settings -> Service accounts -> Generate new private key
service-account.json
