{
  "env": { "node": true, "jest": true, "jasmine": true },
  "extends": ["@askeladden/eslint-config-askeladden/typescript-recommended"],
  "rules": {
    // Prettier handles
    "@typescript-eslint/indent": 0,

    // Use Typescript version to handle enums
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 2
  },
  "overrides": [
    {
      "files": ["*.test.ts"],

      "rules": {
        // Tests often want to catch errors (and ignore them)
        "no-empty": 0
      }
    }
  ],
  "settings": {
    "import/ignore": ["@booking-service/shared"],
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
