{
  "env": { "node": true },
  "extends": ["@askeladden/eslint-config-askeladden/typescript-recommended"],
  "rules": {
    // Avoid unnecessary imports
    "unused-imports/no-unused-imports-ts": 2
  },
  "overrides": [
    {
      "files": ["*.test.ts"],

      "rules": {
        // Tests often want to catch errors (and ignore them)
        "no-empty": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "plugins": ["unused-imports"]
}
