{
  "env": { "browser": true, "es2021": true, "node": true },
  "extends": ["@askeladden/eslint-config-askeladden"],
  "rules": {
    // Prettier handles
    "@typescript-eslint/indent": 0,

    // Next handles React in scope for us
    "react/react-in-jsx-scope": 0,

    // We use spreading
    "react/jsx-props-no-spreading": 0,

    // Use Typescript version to handle enums
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 2
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["*.test.ts"],

      "rules": {
        // Tests often want to catch errors (and ignore them)
        "no-empty": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
